{% extends "disc_website/base.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 offset-md-5 margin-cabecalho">
			<img src="./static/images/imagem-disc.png" />
		</div>
	</div>
</div>
{% if not user.is_authenticated %}
<div class="align-items-center">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center">
					<div class="mt-5">
						<a href="/login/">LOGIN</a>
					</div>
					<div class="mt-5">
						<a href="/resultados/">Resultados</a>
					</div>
					<div class="mt-1">
						<a href="/admin/">Admin</a>
					</div>
				</h3>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}