{% extends "disc_website/base.html" %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h1 class="card-title text-center mb-5 fw-light fs-5">Login</h1>
              <form  action="" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="username" id="username" placeholder="Usuário">
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Senha">  
                </div>
                <div class="d-grid">
                  <button class="btn btn-primary btn-block mb-4" type="submit">Login</button>
                </div>
                <!-- <div class="text-center">
                <p>Ainda não tem uma conta ?<a href="#!"> Cadastre-se</a></p>
                </div> -->
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}