{% extends "disc_website/base.html" %}
{% block content %}
<form>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="emailLogin" class="form-control" />
      <label class="form-label" for="emailLogin">Email</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="senhaLogin" class="form-control" />
      <label class="form-label" for="senhaLogin">Senha</label>
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31"> Manter logado</label>
        </div>
      </div>
  
      <div class="col">
        <!-- Simple link -->
        <a href="#!">Esqueceu a senha?</a>
      </div>
    </div>
  
    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4">Login</button>
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>Ainda não tem uma conta ?<a href="#!"> Cadastre-se</a></p>
    </div>
  </form>
  {% endblock %}