{% extends "disc_website/base.html" %}
{% block content %}
<div id="div-teste" class="col-md-12">
  <h1 class="text-center">Resultados DISC</h1>
  <div class="legenda">
    <h5 style="display: inline-block">Legenda:</h5>
    <div class="progress-bar col-md-1" style="display: inline-block">Dominância</div>
    <div class="progress-bar bg-success col-md-1" style="display: inline-block">Influência</div>
    <div class="progress-bar bg-danger progress-bar-stripped col-md-1" style="display: inline-block">Cautela</div>
    <div class="progress-bar bg-warning progress-bar-stx'ripped col-md-1" style="display: inline-block" >Estabilidade</div>

    <div class="input-group" >
      <div class="form-outline">
        <input id="search-focus" type="search" id="form1" class="form-control" placeholder="Buscar Aluno" />
      </div>
      <button type="button" class="btn btn-primary">
        <i class="bi-search"></i>
      </button>
    </div>
  </div>
  <table class="table" id="table">
    <thead>
      <tr class="cabecalhoTabela">
        <td>Aluno</td>
        <td>Data</td>
        <td>Resultado</td>
        <td>Perfil</td>
      </tr>
    </thead>
    <tbody>
      {% for resultado in resultados %}
        <tr>
          <td >{{resultado.aluno.nome}}</td>
          <td>{{resultado.data_fim | date:"d/m/Y"}}</td>
          <td>
            <div class="progress" style="max-width: 80%">
              <div title="Dominância" class="progress-bar"
                  style="width: {% widthratio resultado.dominancia 1 100 %}%">
                  {% widthratio resultado.dominancia 1 100 %}
              </div>
              <div title="Influencia" class="progress-bar bg-success"
                  style="width: {% widthratio resultado.influencia 1 100 %}%">
                  {% widthratio resultado.influencia 1 100 %}
              </div>
              <div title="Cautela" class="progress-bar bg-danger
                  progress-bar-stripped" style="width: {% widthratio resultado.cautela 1 100 %}%">
                  {% widthratio resultado.cautela 1 100 %}
                  
              </div>
              <div title="Estabilidade" class="progress-bar bg-warning
                  progress-bar-stx'ripped" style="width: {% widthratio resultado.estabilidade 1 100 %}%">
                  {% widthratio resultado.estabilidade 1 100 %}
              </div>
            </div>
          </td>
          <td>
            teste
          </td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}