{% extends "disc_website/base.html" %}
{% block content %}
<div id="div-teste" class="col-md-12 ">
  <form method="post">
    {% csrf_token %}
    <div>
      <h1 class="text-center">Teste DISC</h1>
      <div class="input-group col-md-10">
        <span class="input-group-text">Nome:</span>
        <input type="text" aria-label="First name" class="form-control" id="nome" placeholder="Digite seu Nome Completo" name="nome">
      </div>
      <br>
      <div class="input-group col-md-5">
        <span class="input-group-text">@E-mail:</span>
        <input id="email" type="text" placeholder="Digite seu E-mail" name="email" aria-label="First name" class="form-control">
      </div>
      <br>
      <div class="input-group col-md-5">
        <span class="input-group-text">RA:</span>
        <input id="ra" type="text" placeholder="Digite seu RA" name="ra" aria-label="First name" class="form-control">
      </div>
    </div>
    <br>


    <div>
      {% for pergunta,alternativas in perguntas.items %}
      <div class="col-md-5">
        <h3>{{pergunta}}</h3>
      </div>
        <filedset>
          {% for alternativa in alternativas %}
          <div class="col-md-5">
            <input type="radio" name="{{pergunta}}" value="{{alternativa.perfil}}">
            <label> {{alternativa.conteudo}}</label>
            <br>
          </div>
          {% endfor %}
        </filedset>
      {% endfor %}
      <div class="col-md-4 offset-md-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Enviar</button>
      </div>
      </div> 
    </div>
  </form>
</div>
{% endblock %}