{% extends "disc_website/base.html" %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <div>
      <input id="nome" type="text" placeholder="Digite seu Nome Completo" name="nome">
      <br>
      <input id="email" type="text" placeholder="Digite seu E-mail" name="email">
      <br>
      <input id="ra" type="text" placeholder="Digite seu RA" name="ra">
    </div>
    {% for pergunta,alternativas in perguntas.items %}
      <h3>{{pergunta}}</h3>
      <filedset>
        {% for alternativa in alternativas %}
          <input type="radio" name="{{pergunta}}" value="{{alternativa.perfil}}">
          <label> {{alternativa.conteudo}}</label>
          <br>
        {% endfor %}
      </filedset>
    {% endfor %}
    <button type="submit">Enviar</button>
  </form>
{% endblock %}