{% extends "disc_website/base.html" %}
{% block content %}
<div class="col-md-12 ">
  <form method="post">
    {% csrf_token %}
    <div>
      <h1 class="text-center titulo-disc-teste">Formulário Teste DISC</h1>
      <row>
        <div class="input-group col-md-5 margin-cabecalho">
          <span class="input-group-text">Nome:</span>
          <input type="text" aria-label="First name" class="form-control" id="nome" placeholder="Digite seu Nome Completo" name="nome">
        </div>
        <div class="input-group col-md-2 margin-cabecalho">
          <span class="input-group-text">@E-mail:</span>
          <input id="email" type="text" placeholder="Digite seu E-mail" name="email" aria-label="First name" class="form-control">
        </div>
        <div class="input-group col-md-3 margin-cabecalho">
          <span class="input-group-text">RA:</span>
          <input id="ra" type="text" placeholder="Digite seu RA" name="ra" aria-label="First name" class="form-control">
        </div>
      </row>
    </div>
    <div>
      {% for pergunta,alternativas in perguntas.items %}
      <div class="col-md-5 margin-cabecalho">
        <h3>{{pergunta}}</h3>
      </div>
        <filedset>
          {% for alternativa in alternativas %}
          <div class="col-md-5">
            <input type="radio" name="{{pergunta}}" value="{{alternativa.perfil}}">
            <label> {{alternativa.conteudo}}</label>
            <br>
          </div>
          {% endfor %}
        </filedset>
      {% endfor %}
      <div class="col-md-4 offset-md-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Enviar</button>
      </div>
      </div> 
    </div>
  </form>
</div>
{% endblock %}