body{
    background: url("/static/images/biopark.png");
    background-repeat: no-repeat;
    background-position: 98% 0%;
    background-size: 200px;
    background-attachment: scroll;
    background-color: rgb(240, 238, 238);
}

.titulo-disc-teste{
    margin-top: 2%;
    margin-bottom: 2%;
}

.margin-cabecalho{
    margin-top: 2%;
}

.cabecalhoTabela{
    font-weight: bold;
}

.legendaTable{
    margin-bottom: 7px;
}

